* {
    margin: 0;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    background-color: #E9E9E9;
    margin-bottom: 60px;
}

/* Navigation */

.navbar.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
.navbar-default {
    background-image: none;
    background-color: #FFFFFF;
}
.nav-wrapper {
    height: 70px;
}
.navbar-brand-centered {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;
    display: block;
    text-align: center;
}
.active a {
    background-color: #e9e9e9 !important;
}
.logo {
    max-height: 100px;
    margin-top: -20px;
}
.navbar-toggle {
    z-index: 3;
}
.carousel-control.left,
.carousel-control.right {
    background-image: none;
}
.carousel-control {
    display: none;
}
.img-shadow {
    box-shadow: 3px 3px 1px #888888;
}
.forside {
    margin: auto;
}
.navbar-default {
    background-image: none;
    background-color: #FFFFFF;
}
.nav-wrapper {
    height: 50px;
}
.row-margin {
    margin-top: 30px;
    margin-bottom: 30px;
}

/*End of navigation*/


/* Footer customization */

#footer {
    background: #FFFFFF;
    height: auto;
    bottom: 0;
    position: absolute;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #DDDDDD;
    width: 100%;
}
#footer ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    color: #7F8C8D;
}
#footer,
.push {
    height: 200px;
}
#image2 {
    float: right;
    padding-right: 5.5%;
}
#myCarousel {
    margin-top: -1.4%;
}

/* Events */

.eventcard {
    text-align: center;
    padding-bottom: 3%;
}
#wrapper {
    margin: 0 auto;
    text-align: center;
}
.circles {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;
}
#circle1 {
    background-image: url(../pic/football.png);
    margin-right: -80px;
    transition: height 0.5s ease;
}
#circle2 {
    background-image: url(../pic/camera.png);
    height: 400px;
    width: 400px;
    z-index: 3;
    transition: height 0.5s ease;
}
#circle3 {
    background-image: url(../pic/concert.png);
    margin-left: -80px;
    transition: height 0.5s ease;
}
.circleWrapper {
    display: inline-block;
    text-align: center;
}
#circle1Text {
    visibility: hidden;
    margin-left: 75px;
}
#circle2Text {
    visibility: hidden;
}
#circle3Text {
    visibility: hidden;
    margin-right: 75px;
}
#circleWrapper1:hover #circle1Text {
    visibility: visible;
}
#circleWrapper2:hover #circle2Text {
    visibility: visible;
}
#circleWrapper3:hover #circle3Text {
    visibility: visible;
}
#circleWrapper1:hover #circle1 {
    height: 400px;
    width: 400px;
}
#circleWrapper2:hover #circle2 {
    height: 420px;
    width: 420px;
}
#circleWrapper3:hover #circle3 {
    height: 400px;
    width: 400px;
}

/*End of events*/


/*Map Page*/

@media screen and (max-width: 991px) {
    #infoBar {
        width: 100%;
        height: auto;
        display: block;
        text-align: center;
    }
    #scrollRight {
        display: inline;
    }
}
@media screen and (min-width: 992px) {
    #infoBar {
        min-height: 10%;
        max-height: 630px;
        overflow-y: auto;
        padding: 2%;
        left: 0;
        margin-top: 0;
        position: absolute;
        width: 25%;
    }
    #scrollRight {
        display: none;
    }
}
#infoBar {
    background-color: white;
    z-index: 10;
    box-shadow: 1px 1px 1px #888888;
}
.box {
    width: 24px;
    height: 24px;
    position: absolute;
    display: inline-block;
}
#whiteButton {
    font-size: 2em;
}
#boxContainer {
    left: 70px;
    position: absolute;
}
.category-dropdown {
    padding-left: 5px;
    right: 0;
}
#boxContainer>* {
    display: inline-block;
}
#mapContent {
    z-index: 0;
    display: block;
    padding: 0;
    margin-bottom: 140px;
    overflow-x: scroll;
}
#clickReturn {
    display: none;
}
#menuBar {
    float: left;
}
.searchBox {
    display: inline;
}
#map {
    max-width: 2000px;
    width: 1650px;
    height: 630px;
    background-image: url(../pic/map.jpg);
    background-repeat: no-repeat;
    background-color: #DBDBDB;
}

/*Content in infobar*/

#acontent,
#aacontent,
#abcontent,
#dcontent,
#econtent,
#fcontent,
#gcontent,
#hcontent,
#icontent,
#jcontent,
#kcontent,
#ncontent,
#mcontent,
#ocontent,
#pcontent,
#qcontent,
#rcontent,
#scontent,
#wcontent,
#accontent,
#adcontent,
#aecontent,
#afcontent,
#agcontent,
#ahcontent,
#aicontent,
#ajcontent,
#akcontent,
#alcontent,
#amcontent,
#ancontent,
#aocontent,
#apcontent,
#aqcontent,
#ccontent,
#bcontent,
#tcontent,
#ucontent,
#vcontent {
    display: none;
}
#ae,
#p,
#t,
#ai,
#e,
#k,
#i,
#w,
#ak,
#al,
#an,
#ao,
#ap {
    background-image: url('../pic/workout.png');
}
#s,
#ac,
#af,
#aa,
#ag,
#ab,
#am {
    background-image: url('../pic/drink.png');
}
#r,
#m,
#ah,
#aj,
#q,
#a,
#j {
    background-image: url('../pic/music.png');
}
#f,
#h,
#aq {
    background-image: url('../pic/drugs.png');
}
#g,
#v,
#ad,
#o,
#n {
    background-image: url('../pic/shopping-cart.png');
}
#c,
#d,
#b {
    background-image: url('../pic/wlogo.png');
}
#atxt,
#aatxt,
#abtxt,
#actxt,
#adtxt,
#aetxt,
#aftxt,
#agtxt,
#ahtxt,
#aitxt,
#ajtxt,
#aktxt,
#altxt,
#amtxt,
#antxt,
#aotxt,
#aptxt,
#aqtxt,
#btxt,
#ctxt,
#dtxt,
#etxt,
#ftxt,
#gtxt,
#htxt,
#itxt,
#jtxt,
#ktxt,
#ltxt,
#mtxt,
#ntxt,
#otxt,
#ptxt,
#qtxt,
#rtxt,
#stxt,
#ttxt,
#utxt,
#vtxt,
#wtxt {
    top: -60px;
    left: -90px;
    width: 200px;
    height: auto;
    position: absolute;
    display: none;
}
#a {
    top: 270px;
    left: 850px;
}
#aa {
    top: 255px;
    left: 815px;
}
#ab {
    top: 430px;
    left: 580px;
}
#ac {
    top: 220px;
    left: 750px;
}
#ad {
    top: 540px;
    left: 660px;
}
#ae {
    top: 70px;
    left: 660px;
}
#af {
    top: 310px;
    left: 690px;
}
#ag {
    top: 250px;
    left: 790px;
}
#ah {
    top: 520px;
    left: 720px;
}
#ai {
    top: 515px;
    left: 740px;
}
#aj {
    top: 400px;
    left: 650px;
}
#ak {
    top: 250px;
    left: 860px;
}
#al {
    top: 50px;
    left: 850px;
}
#am {
    top: 480px;
    left: 785px;
}
#an {
    top: 180px;
    left: 785px;
}
#ao {
    top: 230px;
    left: 850px;
}
#ap {
    top: 390px;
    left: 620px;
}
#aq {
    top: 590px;
    left: 590px;
}
#b {
    top: 180px;
    left: 680px;
}
#c {
    top: 380px;
    left: 835px;
}
#d {
    top: 50px;
    left: 665px;
}
#e {
    top: 359px;
    left: 798px;
}
#f {
    top: 455px;
    left: 700px;
}
#g {
    top: 580px;
    left: 650px;
}
#h {
    top: 270px;
    left: 830px;
}
#i {
    top: 220px;
    left: 830px;
}
#j {
    top: 540px;
    left: 580px;
}
#k {
    top: 120px;
    left: 765px;
}
#m {
    top: 500px;
    left: 650px;
}
#n {
    top: 520px;
    left: 500px;
}
#o {
    top: 455px;
    left: 720px;
}
#p {
    top: 390px;
    left: 805px;
}
#q {
    top: 410px;
    left: 720px;
}
#r {
    top: 380px;
    left: 605px;
}
#s {
    top: 590px;
    left: 520px;
}
#t {
    top: 80px;
    left: 670px;
}
#u {
    top: 335px;
    left: 805px;
    background-image: url('../pic/ambulance.png');
}
#v {
    top: 100px;
    left: 650px;
}
#w {
    top: 85px;
    left: 640px;
}
#boxContainer>* {
    display: inline-block;
}
.dropdown-left {
    float: left;
}
#dropdown-right {
    text-align: right;
}

/*End map*/

#zoomIn {
    display: inline-block;
}
#zoomNormal {
    display: inline-block;
}
.karttxt {
    background: lightgray;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 25px;
    padding: 5px;
    z-index: 9999;
}

/*Planoversikt */
.nav-sidebar {
    width: 100%;
    padding: 8px 0;
    border-right: 1px solid #ddd;
}
.nav-sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}
.nav-sidebar .active a {
    cursor: default;
    background-color: #428bca;
    color: #fff;
    text-shadow: 1px 1px 1px #666;
}
.nav-sidebar .active a:hover {
    background-color: #428bca;
}
.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

#mainCol h2 {
    padding-top: 55px;
    margin-top: -55px;
}
.plan {
    font-size: 22px;
}
.open {
    font-size: 18px;
}
.sidebar-wrapper {
    font-size: 20px;
}

/*Photocred*/

#photoCreditContainer img {
    display: inline;
    height: 40px;
}
#photoCreditContainer div {
    display: inline;
}