* {
    margin: 0;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    background-color: #E9E9E9;
    margin-bottom: 60px;
}

/* Events content */

.eventcard {
    text-align: center;
    padding-bottom: 3%;
}
.forside {
    margin: auto;
}
.navbar.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
.navbar-default {
    background-image: none;
    background-color: #FFFFFF;
}
.nav-wrapper {
    height: 70px;
}
.navbar-brand-centered {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;
    display: block;
    text-align: center;
}
.logo {
    max-height: 100px;
    margin-top: -20px;
}
.navbar-toggle {
    z-index: 3;
}
.carousel-control.left,
.carousel-control.right {
    background-image: none;
}
.carousel-control {
    display: none;
}
#matsErScrub {
    background-color: red;
}

/* Footer customization */

#footer {
    background: #FFFFFF;
    height: auto;
    bottom: 0;
    position: absolute;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #DDDDDD;
    width: 100%;
}
#footer ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    color: #7F8C8D;
}

#footer, .push{
    height: 175px;
}
#image2 {
    float: right;
    padding-right: 5.5%;
}
#myCarousel {
    margin-top: -1.4%;
}

/* Events */

#wrapper {
    margin: 0 auto;
    text-align: center;
}
.circles {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    background-size: 100%;
    background-repeat: none;
}
#circle1 {
    background-image: url(../pic/football.png);
    margin-right: -80px;
    transition: height width 0.5s ease;
}
#circle2 {
    background-image: url(../pic/camera.png);
    height: 400px;
    width: 400px;
    z-index: 3;
    transition: height width 0.5s ease;
}
#circle3 {
    background-image: url(../pic/concert.png);
    margin-left: -80px;
    transition: height width 0.5s ease;
}
.circleWrapper {
    display: inline-block;
    text-align: center;
}
#circle1Text {
    visibility: hidden;
    margin-left: 75px;
}
#circle2Text {
    visibility: hidden;
}
#circle3Text {
    visibility: hidden;
    margin-right: 75px;
}
#circleWrapper1:hover #circle1Text {
    visibility: visible;
}
#circleWrapper2:hover #circle2Text {
    visibility: visible;
}
#circleWrapper3:hover #circle3Text {
    visibility: visible;
}
#circleWrapper1:hover #circle1 {
    height: 400px;
    width: 400px;
}
#circleWrapper2:hover #circle2 {
    height: 420px;
    width: 420px;
}
#circleWrapper3:hover #circle3 {
    height: 400px;
    width: 400px;
}
.navbar-default {
    background-image: none;
    background-color: #FFFFFF;
}
.nav-wrapper {
    height: 50px;
}
.row-margin {
    margin-top: 30px;
    margin-bottom: 30px;
}

/*Map Page*/

@media screen and (max-width: 991px) {
    #infoBar {
        width: 100%;
        height: auto;
        display: block;
        text-align: center;
    }
}
@media screen and (min-width: 992px) {
    #infoBar {
        min-height: 10%;
        max-height: 650px;
        overflow-y: auto;
        padding: 2%;
        left: 0;
        margin-top: 0;
        position: absolute;
    }
}


#infoBar {
    background-color: lightgray;
    z-index: 10;
}
.box {
    width: 24px;
    height: 24px;
    position: absolute;
    display: inline-block;
}
#whiteButton {
    font-size: 2em;
}

#boxContainer{
   left: -345px; 
   top: 5px;
    position: absolute;
}
#boxContainer>* {
    display: inline-block;
}
#mapContent {
    z-index: 0;
    display: block;
    padding: 0;
    margin-bottom: 114px;
    overflow-x: scroll;
}
#map {
    min-width: 640px;
    width: 105%;
    height: 630px;
    background-image:url(../pic/map.jpg);
    background-repeat: no-repeat;
    background-color: #DBDBDB;

}

/*Content in infobar*/

#acontent,
#aacontent,
#abcontent,
#dcontent,
#econtent,
#fcontent,
#gcontent,
#hcontent,
#icontent,
#jcontent,
#kcontent,
#ncontent,
#mcontent,
#ocontent,
#pcontent,
#qcontent,
#rcontent,
#scontent,
#wcontent,
#accontent,
#adcontent,
#aecontent,
#afcontent,
#agcontent,
#ahcontent,
#aicontent,
#ajcontent,
#akcontent,
#alcontent,
#amcontent,
#ancontent,
#aocontent,
#apcontent,
#aqcontent,
#ccontent,
#bcontent,
#tcontent,
#ucontent,
#vcontent {
    display: none;
}
#ae,
#p,
#t,
#ai,
#e,
#k,
#i,
#w,
#ak,
#al,
#an,
#ao,
#ap {
    background-image: url('../pic/workout.png');
}
#s,
#ac,
#af,
#aa,
#ag,
#ab,
#am {
    background-image: url('../pic/drink.png');
}
#r,
#m,
#ah,
#aj,
#q,
#a,
#j {
    background-image: url('../pic/music.png');
}
#f,
#h,
#aq {
    background-image: url('../pic/drugs.png');
}
#g,
#v,
#ad,
#o,
#n {
    background-image: url('../pic/shopping-cart.png');
}

#c, #d, #b{background-image: url('../pic/wlogo.png');}
#a {
    top: 270px;
    left: 850px;
}
#aa {
    top: 255px;
    left: 815px;
}
#ab {
    top: 430px;
    left: 580px;
}
#ac {
    top: 220px;
    left: 750px;
}
#ad {
    top: 540px;
    left: 660px;
}
#ae {
    top: 70px;
    left: 660px;
}
#af {
    top: 310px;
    left: 690px;
}
#ag {
    top: 250px;
    left: 790px;
}
#ah {
    top: 520px;
    left: 720px;
}
#ai {
    top: 515px;
    left: 740px;
}
#aj {
    top: 400px;
    left: 650px;
}
#ak {
    top: 250px;
    left: 860px;
}
#al {
    top: 50px;
    left: 850px;
}
#am {
    top: 480px;
    left: 785px;
}
#an {
    top: 180px;
    left: 785px;
}
#ao {
    top: 230px;
    left: 850px;
}
#ap {
    top: 390px;
    left: 620px;
}
#aq {
    top: 590px;
    left: 590px;
}
#b {
    top: 180px;
    left: 680px;
}
#c {
    top: 380px;
    left: 835px;
}
#d {
    top: 50px;
    left: 665px;
}
#e {
    top: 359px;
    left: 798px;
}
#f {
    top: 455px;
    left: 700px;
}
#g {
    top: 580px;
    left: 650px;
}
#h {
    top: 270px;
    left: 830px;
}
#i {
    top: 220px;
    left: 830px;
}
#j {
    top: 540px;
    left: 580px;
}
#k {
    top: 120px;
    left: 765px;
}
#m {
    top: 495px;
    left: 660px;
}
#n {
    top: 510px;
    left: 510px;
}
#o {
    top: 455px;
    left: 720px;
}
#p {
    top: 390px;
    left: 805px;
}
#q {
    top: 410px;
    left: 720px;
}
#r {
    top: 380px;
    left: 605px;
}
#s {
    top: 590px;
    left: 520px;
}
#t {
    top: 80px;
    left: 670px;
}
#u {
    top: 335px;
    left: 805px;
    background-image: url('../pic/ambulance.png');
}
#v {
    top: 100px;
    left: 650px;
}
#w {
    top: 85px;
    left: 640px;
}
#boxContainer>* {
    display: inline-block;
}
