body
{
    background-color: #E9E9E9;
}
/* Events content */
.eventcard{
    text-align: center;
    padding-bottom: 3%;
}

.affix {
    top: 0;
    width: 100%;
}

.affix + .container-fluid {
    padding-top:70px;
}

.newsTekst
{
    text-align: center;
}

h1
{
    text-align: center;
}

.navbar
{
    z-index: 10;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
}

.carousel-control {
   display: none;
}
#matsErScrub {
    background-color: red;
}

/* Footer customization */

.footer {
    background-color:#FFFFFF;
    height: auto;
    
}
#footer {
    background:#CDCDCD;
    height: 200px;
    padding-bottom: 30px;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #DDDDDD;
}

.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #7F8C8D;
}

#image2{
    
    float: right;
    padding-right: 5.5%;
}

#myCarousel{
    margin-top: -1.4%;
    
}


/* Events */

#wrapper{
    margin: 0 auto;
    margin-left:12%;
}

.circles{
    height: 350px;
    width: 350px;
    border-radius: 50%;
    display: inline-block; 
    position: relative;
    background-size: 100%;
    background-repeat: none; 
}

#circle1{
    background-image:url(../pic/football.png);
    margin-right: -80px;
    transition: height width 0.5s ease;
   
}
#circle2{
    background-image:url(../pic/camera.png);
    height:400px;
    width: 400px;
    z-index: 3;
    transition: height width 0.5s ease;
    
}
#circle3{
    background-image:url(../pic/concert.png);
    margin-left: -80px;
    transition: height width 0.5s ease;
    
}

.circleWrapper{
    display: inline-block;
    text-align: center;
}

#circle1Text{
    visibility: hidden;
    margin-left: 75px;
}
#circle2Text{
     visibility: hidden;
}
#circle3Text{
     visibility: hidden;
    margin-right: 75px;
}

#circleWrapper1:hover #circle1Text{
    visibility: visible;
}
#circleWrapper2:hover #circle2Text{
    visibility: visible;
}
#circleWrapper3:hover #circle3Text{
    visibility: visible;
}
#circleWrapper1:hover #circle1{
    height: 400px;
    width: 400px;
}

#circleWrapper2:hover #circle2{
    height: 420px;
    width: 420px;
}

#circleWrapper3:hover #circle3{
    height: 400px;
    width: 400px;
}


.navbar-default
{
    background-image: none;
    background-color: #FFFFFF;
}

.nav-wrapper
{
    height: 50px;
}

.row-margin
{
    margin-top: 30px;
    margin-bottom: 30px;
}

.nyheter
{
    margin: auto;
}
