/* Events content */

.eventcard{
    text-align: center;
    padding-bottom: 3%;
}

.affix {
    top: 0;
    width: 100%;
}

.affix + .container-fluid {
    padding-top:70px;
}

.newsTekst
{
    text-align: center;
}

h1
{
    text-align: center;
}

.navbar
{
    z-index: 10;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.carousel-control {
   display: none;
}
#matsErScrub {
    background-color: red;
}

