
#kartcontainer {
    max-width: 1366px;
    height: 900px;
    overflow: hidden;
    position: relative;
    margin:auto;
    background-color: red;
    margin-top: 50px;
}





#kartmeny {
    background-color: lightgray;
    width: 100%;
    z-index: 10;
    height: 33px;
    
}






#collapsebakgrund {
    width: 100%;
    margin: auto;
    background-color: rgb(150,150,150);
}

#flyttdrittentilhoyre {
    width: 170px;
    float:right;
    padding-right: 10px;
}




.RbtnMargin {
    margin-left: 5px;
}





body,html {
  margin:0;
  padding:0;
}


#containerkartside {
    width: 100%;
    position: relative;
    margin:auto;
}

#containerkartside>*{
    position: relative;   
}

#infobox {
    background-color: darkgrey;
    width: 25%;
    height: 900px;
    position: absolute;
    left: 0;
}

#klikketing {
    position: absolute;
    height: 50px;
    width: 35px;
    margin-left: 100%;
    background: white;
    cursor: pointer;
}
label{
    display: inline-block;
    background: lightgrey;
    width: 35px;
    height: 50px;
    cursor: pointer;
    
}


.category7{
     width: 200px;
    height: 200px;
}
.category6{
     width: 200px;
    height: 200px;
}
#ting1{
    
    background: blue;
}
#ting2{
    background: white;
}

#testbox; {
    width: 200px;
    height: 200px;
    background: blue;
    
}
